.vscode
.DS_Store
ai24_bde_airlines.wiki
airflow/logs
airflow/plugins
env
env/
data/json/api_errors.json
data/json/departures.json
api_calls/api_payload.py
airflow
api_calls
env
live_deploy
airflow/dags/variables.py

services/local-mongo-data
services/local-grafana-data
services/local-grafana-public
services/local-mongo-data
services/local-postgres-data
services/local-postgres-db
services/local-grafana-conf
services/dags/declaration_variables.py
services/dags/__pycache__
services/fastapi/__pycache__
CHOIX DE LA METRIQUE.md
STRATEGY.MD
data/dumps
data/ml
data/processed_data
services/alertmanager
services/logs
services/mlflow_data
services/mlruns
services/plugins
wrangling_functions
services/models
services/dags/api_payload.py